


/*------------------------
base css
-------------------------- */


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}



/*------------------------------------------------

font Anders for the logo
*/


@font-face {
    font-family: 'Anders';
    src: url('../fonts/Anders.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*------------------------------------------------

basic styles
*/



body {
     color: #7c8081;
     font-size: 12px;
     line-height: 16.6px;
     font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	color:#fff;
  padding-bottom: 20px;
}


h2 {
    font-size: 30px;
    font-weight: 500; 
    color: rgb(124, 128, 129);
    font-family: inherit;
    line-height: 40px;
    text-align: center;
    padding-bottom: 20px;
}




h3 {
	
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 10px;
}


p { font-size: 16px;
	  font-weight: 300;
    line-height: 27px;
    
}


small {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}


ul {
	list-style: square;
	font-size: 13px;
	font-style: light;
}


img {
	padding: 5px;
 }

a {
color: #333;
}



/*--------------------------------------------
helpers
--------------------------------------------*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------------
wrapper centered;
-------------------------- */
#wrapper{
  width: 100%;
  padding:0 0 0 0 ;
}

/*------------------------
Masthead section  
-------------------------- */
.masthead {
     background: #f0efef;
}


/* Logo */

.logo p{
    font-family: 'Anders';
    color:rgb(131, 211, 201);
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    margin:0;
    padding:20px 0 20px 0;

}

.logo a{
  text-decoration: none;
}



/* Navigation */

.nav {
  margin: 0;
  padding:10px 0 10px 0px;
  list-style: none;
  text-align: center;
  background: #E8EEF4;
 
}


    .nav li{
      margin: 0;
      padding: 5px 0 5px 0;
      display: inline-block;
    }


    .nav a {
        color:#7c8081;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .nav a:hover {
        color: rgb(131, 211, 201);
        
    }


    .nav a.selected { 
      border-bottom: 1px dotted #7C8081;
    }


/*------------------------
Homepage carousel 
-------------------------- */



/* Learn more button */

.owl-carousel .button{
display: block;
margin: 0 auto;
}


/* scroll down circle */
a.scroll-down {
    font-size: 25px;
    line-height: 28px;
    border: 5px solid #ffffff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-border-radius: 50%;
    -mox-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    z-index: 1000;
    position: absolute;
    text-align: center;
    display: block;
    bottom: 50px;
    left: 50%;
    margin-left: -30px;
}


.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#fff;
}


/* owl-carousel */

.owl-carousel {
  text-align: center;
  background-size: cover;
}

    .owl-carousel .slide {
      position: relative;
    }



    .owl-carousel .button{
    display: block;
    z-index: 2;
    position: absolute;
    top: 300px;
    width:200px;
    left:50%;
    margin-left: -100px;
    }



    .owl-carousel .slide img {
      position: relative;
      z-index: 0;
      padding:0;
    }


    .owl-carousel .owl-controls .owl-dot {
        cursor: pointer;
        background-color: rgb(124, 128, 129);
        width: 10px;
        height: 10px;
        display: inline-block;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 5px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .owl-dots{
       position:absolute;
        z-index: 2;
        bottom: 10px;
        left:50%;
        margin-left:-30px;
    }

    .owl-carousel .owl-controls .owl-dot.active{
        background-color: rgb(131, 211, 201);
    }


    .owl-carousel .slide h1 {
      position: absolute;
      top: 100px;
      z-index: 1;
      width: 100%;
    }



/* tagline */


h1.tagline span  {
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    padding: 10px 0px 5px 0px;
    text-shadow:0 0 50px rgba(0, 0, 0, 0.8);
    border-bottom: solid 4px #fff;
    text-transform: uppercase;
    margin: 100px 0 50px 0;
   
  }





/*------------------------
content  - belief statement section
-------------------------- */
.belief {
  background: #f0efef;
  padding: 20px 200px;
  text-align: center;
  
}


.belief h2 {
  font-size: 25px;
  line-height:40px;
  font-weight: 600;
  padding-bottom: 0;
}

.belief p{
  font-size: 18px;
  line-height:30px;
  font-weight: 400;
  margin-top: 0;
}



/*------------------------
content - editor's pick (featured product) section
-------------------------- */
.editorpick{
	width:80%;
	text-align: center;
  margin:0 auto;
  margin-bottom: 40px;
  background:#fff;
  padding-top: 20px;

}

.product-image {
  width: 50%;
  float: left;
  
}



.product-intro {
  float:right;
  width:50%;
	margin-bottom: 20px;
  padding:0 20px;
}


.productname span{
  border-bottom: 2px dotted #7c8081;
  border-top: 2px dotted #7c8081;
  padding-bottom: 5px;
  padding-top:5px;
}


.product-intro p{
 text-align: left;
 padding-bottom: 20px;
}


.product-intro a {
 float: left;
}


.featured-product h3{
  text-align: left
}






/*------------------------
content - categories section
-------------------------- */
.categories{
	padding: 20px 80px 50px 80px;
	text-align: center;
  background:#E8EEF4;
}

.categoryHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    line-height: 1.75em;
    text-transform: uppercase;
    margin-left: -15%;
    margin-top: -21px;
    z-index: 5;
}

.categories a{
  margin-top: 50px;
}


.panels {
  background: #fff;
  padding: 20px;
}

.topic{
  float: left;
  width:50%;
  position: relative; 
  padding: 20px;
  background: none;
 }



.topic:nth-of-type(odd){
}

.topic a img {
  display: block;
  width: 100%;
  height:auto;
  padding: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}


.topic a{
  background:#7c8081;
  display: block;
  width:100%;
  margin:0;
  position: relative;
  z-index: 2;
}


.topic a:hover img{
  opacity: 0.2;
  
}




/*------------------------
content - featured blog article section
-------------------------- */
.blog {
  padding:20px 0 50px 0;
  text-align: center;
  background:#fff;

}

    .blog p{
     padding:0px 200px 0 200px;
     text-align: center;
    }



    .blog img{
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: 50%;
      margin:0 auto;
      display: block;

    }

    .blog a{
      display:inline-block;
      margin-top: 40px;
    }





/*------------------------
content - subscription section
-------------------------- */

.subscribe {
	text-align: center;
	background: url(../images/banner.jpg) center no-repeat;
	color:#000;
	padding: 30px 30px 50px 30px;
}


      .subscribe h2 {
        color: white;
        padding-bottom: 10px;
      }


      .email {
        display: inline-block;
      }


            .email input{
             border: none;
             padding: 11px 9px 8px 9px;
             position: relative;
             margin-right: -4px;
             width: 300px;
             display: inline-block;
            }


      .signup{
        display: inline-block;
            }

/*------------------------
Buttons
-------------------------- */

.button {
	border-radius: 10px;
	text-decoration: none;
}

      .button-primary {
      		color: white;
      		font-size: 18px;	
          background: rgb(131, 211, 201);
          font-weight:800;
          border: none;
          padding: 15px 30px;
          width: 200px;
          
      }

      .button-read-more{
          background: none;
          border: solid 1px;
          color: inherit;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          padding: 10px 30px;
          line-height: 24px;
          text-align: center;
          text-decoration: none;
      }


      .button-register {
      		color:#fff;
      		font-size: 16px;		
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          font-weight: 300;
          line-height: 24px;
          background: rgb(131, 211, 201);
          border: none;
          padding: 6px 30px;
          margin-bottom: -1px;


      }

      .button-more{
          background: none;
          border: solid 1px;
          color: inherit;
          display: inline-block;
          font-size: 16px;
          font-weight: 800;
          padding: 10px 35px;
          line-height: 24px;
          text-align: center;
          text-decoration: none;
      }






/*------------------------
footer  - site footer
-------------------------- */
.site-footer {
  padding: 20px 100px 5px 100px;
  text-align: center;
}


    .site-footer a{
      text-decoration: none;
       
    }


    .site-footer ul{
      padding-left: 0;

    }
    .site-footer li{
      list-style: none;
      display: inline-block;

    }

/*------------------------
Icons 
-------------------------- */

.icons {
    text-decoration: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }


    .icon.circle {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border: 0;
        border-radius: 100%;
        display: inline-block;
        font-size: 20px;
        line-height: 2.25em;
        text-align: center;
        text-decoration: none;
        top: 0;
        left: 0;
        width: 2.25em;
    }

/*------------------------
Icons - facebook 
-------------------------- */

        .icon.circle.fa-facebook {
            background: #7490c3;
            color: #fff;
        }

/*------------------------
Icons - Instagram
-------------------------- */
        .icon.circle.fa-instagram {
            background: #125688;
            color: #fff;
        }


/*------------------------
Icons - Pinterest
-------------------------- */

        .icon.circle.fa-pinterest {
            background: #cb2027;
            color: #fff;
        }





/*------------------------



Blog Article page


-------------------------- */
.bodycontent {
background-color: #f0efef;
padding:20px 60px;
}

/*------------------------
main column for articles
-------------------------- */
.main-column {
float:left;
width:70%;
padding-right: 10px;
}


  .main-column a{
  font-size: 20px;
  font-weight: 600;
  color: #69C9BD;
  text-decoration: none;
  border-bottom: 2px solid #69C9BD;
  float:left;
  padding-top:15px;
  }

    article {
    margin-left: 10px;
    padding: 20px 50px 70px 50px;
    border-bottom: solid 2px white;
    margin-bottom: 30px;
    background:#fff;
    }


        article h2{
         text-align: left;
         font-weight: 600;
         padding:20px 0;
        }

        article p{
          line-height: 30px;
        }

        article img{
         margin:0 auto;
         width: 100%;
         padding-bottom: 20px;
        }

        p.date{
          font-size: 14px;
          font-weight: 400;
        }


        .firstcharacter{
          float: left;
          font-size: 80px;
          line-height: 65px;
          padding-top: 4px;
          padding-right: 8px;
          padding-left: 3px;
          font-weight: 600;
        }




/*------------------------
side column 
-------------------------- */


.side-column {
float:right;
width: 27%;
padding: 0 20px 100px 40px;
background:#fff;

}


    .side-column h3{
     font-size: 20px;
     font-weight: 800;
     line-height: 45px;
     color:#69C9BD
    }

    .side-column li{
     list-style-type: none;
    }


.Archive a{
 font-size: 18px;
 font-weight:300;
 line-height: 30px;
 text-decoration:none; 
 color:#7C8081;
}

.blogCategories a{
  font-size:18px;
  font-weight:400;
  line-height: 40px;
  padding-bottom: 5px;
  text-decoration:none;
  color:#7C8081;
  border-bottom: 2px dotted #CBCDCD;
}



.blogCategories,
.Archive {
padding: 65px 10px 20px 10px;
}


/*------------------------



Blog post page


-------------------------- */
.blogbodycontent {
  background-color: #f0efef;
  padding:20px 30px;
}

    .blogbodycontent .main-column{
      width:78%;
    }


    .blogbodycontent .side-column{
      width:20%;
    }

      




/* ---------------------------------------------------------------------
Responsive Styles

--------------------------------------------------------------------- */
   /* Large screens ----------- */
    @media only screen and (min-width : 1824px) {
      
         .wrapper {
            width:90%;
        }


        h1.tagline span  {
          font-size: 60px;
        }


        .owl-carousel .slide h1 {
          top: 200px;
        }


         .owl-carousel .button{ 
            top: 400px;
        }


         a.scroll-down {
          bottom:300px;
        }



        .belief{
          padding:50px 500px;
        }


        .editorpick{
          padding:50px 200px;
        }


        .blog{
          padding:20px 400px;
        }

        .blog a{
          margin-bottom: 40px;
        }
      }

    /* Desktops and laptops ----------- */
    @media only screen and (min-width : 1224px) {
         
         .wrapper {
            width:100%;
        }


        h1.tagline span  {
          font-size:60px;
        }


        .owl-carousel .slide h1 {
          top: 150px;
        }


         .owl-carousel .button{ 
            top: 400px;
        }


         a.scroll-down {
          bottom:200px;
        }


        .belief{
          padding:50px 500px;
        }


        .editorpick{
          padding:50px 200px;
        }


        .blog{
          padding:20px 400px;
        }

        .blog a{
          margin-bottom: 40px;
        }

      }

    
      /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {


        .wrapper {
            width:100%;
        }

         .nav li {
            width: 100%;
        }
         

        .product-image{
          width:100%;
        }

        .product-intro{
          width:100%;
        }


        .topic{
          width:100%;

        }

        .blog p{
          padding:20px 100px;
        }  


    

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
       


        .wrapper {
            width:100%;
        }

         .nav li {
            width: 100%;
        }


        h1.tagline span  {
          font-size:30px;
        }


        .owl-carousel .slide h1 {
          top: 50px;
        }


         .owl-carousel .button{ 
            top:250px;
        }


         a.scroll-down {
          display: none;
        }

         .belief {
            padding:20px 20px;
         }



        .product-image{
          width:100%;
        }

        .product-image img{
          width:60%;
        }

        .product-intro{
          padding:20px 20px;
          text-align: center;
        }

         

        .product-intro a{
          float:none;
        }


       .categories {
        padding:20px 20px;
       }
             
        .topic{
          width:100%;
          padding:5px 0px 20px 0px;

        }

        .topic:last-of-type{
          padding-bottom:5px ;
        }



        .topic img{
          padding-bottom: 30px;
        }


        .blog p{
          padding:0px 100px;
        }

         
       .subscribe input {
          width: 200px;
        }


        .bodycontent {
          padding: 20px 20px 20px 20px;
        }

        .main-column{
           width: 100%;
           
        }

         .side-column {
          width:100%;
          text-align: center;
        }
    
    

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        

         .wrapper {
            width:100%;
        }

         .nav li {
            width: 100%;
        }

        .owl-carousel{
          background-size:  auto, cover;
          padding: 10px 20px 40px 20px;
        }


        h1.tagline span  {
          font-size:30px;
        }


        .owl-carousel .slide h1 {
          top: 50px;
        }


        a.scroll-down{
          display:none;
        }

        .belief h2{
          font-size: 20px;
        }
        
        .belief p{
            padding:20px 20px;
        }

         .editorpick {
           width: 100%;
         }

        .product-image{
          width:100%;
         }

        .product-image img{
          width:60%;
        }

        .product-intro{
          width:100%;
        }


        .product-intro p{
          padding:20px 20px;
        }


        .categories {
          padding: 5px 0 50px 0;
        }

        .panels {
          padding: 0px;
        }
        
        .topic{
          width:100%;
          padding:;
        }


        .topic:first-of-type{
           padding-top: 25px;
        }


         .topic:last-of-type{
           padding-bottom: 25px;
        }

        .blog p{
          padding:0px 20px;
        }

        .blog img{
          width:80%;
        }

         .subscribe input{
          padding-bottom: 10px;
          border-radius: 10px;
          width: 100%;
         }

         .subscribe .email{
          display: inline-block;
          padding-bottom: 5px;
          width:100%;
         }

         .subscribe .signup{
          width: 100%;
          margin-left: 2px;
        }

          
        .signup .button-register{
           width: 100%;
           border-radius: 10px;
        }


        .icon.circle {
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          border: 0;
          border-radius: 100%;
          display: inline-block;
          font-size: 10px;

        }

       .bodycontent {
          background-color: #f0efef;
          padding: 20px 5px;
        }
        .main-column {
          width:100%;
          padding:10px 5px;

        }


        .side-column {
          width:100%;
          text-align: center;

        }
    

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {


        .wrapper {
            width:100%;
        }

        .features .feature {
            width: 100%;
        }

        .nav li {
            width: 100%;
        }


        .promo .promo-img {
            width: 100%;
        }


        .promo .promo-content {
            width: 100%;
        }
         
        
       .bodycontent {
          background-color: #f0efef;
          padding: 20px 5px;
        }
        .main-column {
          width:100%;
          padding:10px 5px;

        }


        .side-column {
          width:100%;
          text-align: center;

        }
    